<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>

<div class="container-fluid mt-2">
   <div class="container pannel">
    <a  href="/admin/add-service">Add Service</a> <br>
    <a href="/admin/services">List All Service</a>
    <a href="/admin/addIPO">Add IPO</a>
    <a href="/admin/IPO-list">List All IPO</a>
   </div>
</div>

        <%- include('../layouts/footer.ejs') %>
        <% -include('../layouts/end.ejs') %>