<footer>
    <div class="container-fluid myfooter">
      <div class="d-flex justify-content-center align-items-center flex-row">
        <i class="bi footer-icon bi-facebook"></i>
        <i class="bi footer-icon bi-twitter"></i>
        <i class="bi footer-icon bi-instagram"></i>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-row">
        <a class="footer-link" href="/">Home</a>
        <a class="footer-link" href="/services">Services</a>
        <a class="footer-link" href="/about-us">About Us</a>
        <a class="footer-link" href="/contact-us">Contact Us</a>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-row">
        <p class="footer-note">Created with ❤ &copy; TechExpert Softlab Corporation</p>
      </div>
    </div>
  </footer>