<%- include('./layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

<body>
    <%- include('layouts/navbar.ejs') %> 
    <h1 class="text-center mt-5">Ooops!!! Some Error Occurs</h1>
    <h4 class="text-center mt-5">We are working on it.</h4>

<% -include('layouts/end.ejs') %>