<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>

        <div class="container-fluid about-section" id="about-us">
            <div class="headings">
                <h1>About Us</h1>
            </div>
        
            <div class="row">
        
                <div class="col-12 col-md-6">
                    <img class="img-fluid img-round50" src="/images/aboutUs.jpg" alt="about-img">
                </div>
        
                <div class="col-12 col-md-6">
                    <div class="box">
                        <h3>Who we Are</h3>
                        <p>Wealth Bazzar was established as an independent business advisory practice based out in London, UK working with MSMEs/SMEs from across the Globe that typically have a turnover between £2m and £100m.
                            We act as a catalyst in providing corporate finance advice and assistance in a wide variety of situations that include raising development and turnaround funding, MBOs/MBIs, mergers, acquisitions and disposals, including Business Setup, Offshore company formation with Visas Assistance, Residential & Commercial Real Estate Sales & Management. With our Professional touch we offer solutions that cater to financial needs of Corporates on the lead advisory role from initial discussions through to successful completion.
                            Wealth Bazzar Role and Mission is to act as a foundation of interaction in bringing clients and providers together and to create tailor-made solutions through its in-house capabilities and those of its Associates & chosen specialists, all this combining to deliver exceptional added value to the specific deal.
                            Wealth Bazzar’s experienced team with commitment and drive that underpin strong relationships with clients and communities, goes beyond the economic interest.</p>
                    </div>
                    
                </div>
        
        
        
            </div>
        
        
        </div>


        <%- include('../layouts/footer.ejs') %>
        <% -include('../layouts/end.ejs') %>
    
    