<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>
        
        <div class="container dashboard">
            <h1>Welcome to wealth bazaa₹</h1>
            <div class="row g-5">
                
                <div class="col-12 col-md-4 col-lg-3">
      
                    <div class="mycard">
                        <div class="mycard-img">
                            <img class="img-fluid img-arrow" src=" /images/1646141297196-1646130620554-real-state.jpg" alt="service-img">
                        </div>
                        <div class="mycard-title">
                            <h4> Mutual Fund  </h4>
                        </div> 
                        <div class="mycard-text">
                            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium molestiae officiis illum eum eligendi cumque nostrum quod esse modi rem neque nihil dolor in ab laboriosam </p>
                        </div>
                        <div class="mycard-btn">
                            <a class="mybtn1" href="/ ">See Details</a> 
                        </div>
                    </div>
                </div>
      
              
            </div>
        </div>

        <%- include('../layouts/footer.ejs') %>
    <% -include('../layouts/end.ejs') %>

