<%- include('../layouts/head.ejs') %>
<link rel="stylesheet" href="/css/style.css">
    <title>Wealth Bazzar | <%= title%> </title>
  </head>

    <body>
        <%- include('../layouts/navbar.ejs') %>

        <div class="container-fluid about-section" id="about-us">
            <div class="headings">
                <h1>Why Choose Us???</h1>
            </div>
        
            <div class="row">
        
                <div class="col-12 col-md-6">
                    <img class="img-fluid img-round50" src="/images/Us.jpg" alt="about-img">
                </div>
        
                <div class="col-12 col-md-6">
                    <div class="box">
                        <h3>100% Customer Satisfaction</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, porro beatae. Ex suscipit illum
                            quasi nemo architecto sed maxime culpa?</p>
                    </div>
                    <div class="box">
                        <h3>The team of market experts</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, porro beatae. Ex suscipit illum
                            quasi nemo architecto sed maxime culpa?</p>
                    </div>
                    <div class="box">
                        <h3>24/7 Support</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, porro beatae. Ex suscipit illum
                            quasi nemo architecto sed maxime culpa?</p>
                    </div>
                    <div class="box">
                        <h3>ISO Certified</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, porro beatae. Ex suscipit illum
                            quasi nemo architecto sed maxime culpa?</p>
                    </div>
                </div>
        
        
        
            </div>
        
        
        </div>


        <%- include('../layouts/footer.ejs') %>
        <% -include('../layouts/end.ejs') %>
    
    